.Pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Arial, sans-serif;
    padding: 22px 21px;
    
}
.Pagination-dots {
    color: #CCC;
    text-align: center;
    margin: 0;
    padding: 0 3px;
}

.Pagination-item,
.Pagination-item_active {
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: Arial, sans-serif;

}

.Pagination-item:hover {
    background: #E1E1E1;

}

.Pagination-item {
    background: #FFF;
}
.Pagination-item_active {
    background: #0087E9;
    color: #FFF;
}