.Item {
  display: flex;
  align-items: center;
  transition: background-color 1s;
  line-height: 1.375;
}

.Item-code {
  padding: 20px 10px 21px 20px;
}

.Item-title {
  width: 100%;
  padding: 20px 10px 21px;
}

.Item-price{
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 60px
}
.Item-price-quantity{
  white-space: nowrap;
}

.Item-actions {
  padding: 20px 20px 20px 24px;
}
